*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

header{
    height: 15vh;
    width: 100%;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.img-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}
.img-logo img{
    width: 70px;
    object-fit: cover;
}
.limita-area{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
.logo{
    display: flex;
    width: 40%;
    margin-bottom: 30px;
}
.desc-logo{
    display: flex;
    flex-direction: column;
    width: 250px;
}
ul,li{
    display: flex;
    list-style: none;
}
.menu-bar a{
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.menu-bar a:hover{
    background-color: #2f86d6;
    color: #fff;
    border-radius: 5px;
}
.destaque-texto-logo{
    color: #2f86d6;
    font-weight: bold;
}


/* Estilo do banner */


.banner{
    width: 100%;
    background-color: #2f86d6;
    height: 450px;
    
}
.left-area{
    width: 50%;
}
.left-area p, h3{
    width: 80%;
    color: #fff;
    margin: 20px 0;
}
.left-area p{
    font-size: 12px;
}
.right-area{
    width: 50%;
}
.content-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* anuncio tabelas */

.anuncio, .anuncio-dois{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #233032;
    width: 100%;
    height: 15vh;
}
.anuncio-dois{
    background-color: #2f86d6;
}
.anuncio-dois a{
    background-color: #233032;
}
.desc-anuncio{
    width: 60%;
    line-height: 5px;
    color: #fff;
}
.desc-anuncio p{
    font-size: 12px;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.btn-anuncio a, .btn-anuncio-dois a{
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #2f86d6;
    border-radius: 3px;
    font-weight: bold;
}
.btn-anuncio-dois a{
    background-color: #233032;
}
.btn-anuncio a::before, .btn-anuncio-dois a::before{
    content: "";
    background-image: url('img/icone-foguete.png');
    width: 17px;
    height: 17px;
    margin-right: 10px;
    margin-top: 5px;
}

/* Section SOBRE */

#sobre{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.titulo-sobre{
    display: flex;
    justify-content: center;
}
.titulo-sobre h3{
    color: #000;
    margin: 60px 0px;
    font-size: 24px;
    text-align: center;
}
.destaque-texto{
    color: #2f86d6;
}
.box-cards{
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc(100%/3 - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-card img{
    width: 20%;
    margin-bottom: 15px;
}
.desc-card h4{
    margin-bottom: 15px;
}
.desc-card p{
    font-size: 12px;
}


/* section PLANOS */
#planos{
    background-color: #e9e9e9;
    width: 100%;
}
.desc-planos{
    display: flex;
    justify-content: center;
}
.desc-planos h3{
    text-align: center;
    color: #000;
    margin: 60px 0;
}
.tabela-planos{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* .tabela-planos figure img{
    width: 50%;
    object-fit: cover;
} */
.linha-topo-tabela{
    width: 100%;
    padding: 15px;
}
.coluna-topo-tabela{
    width: 25%;
    padding: 15px 25px;
}
table{
    width: 60%;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 0px 25px 0px #2f86d6;
    margin-bottom: 60px;
}
figcaption{
    font-size: 11px;
    color: #aaaaaa;
}
th:hover, td:hover{
    background-color: #2f86d6;
    color: #fff;
}
.tabela{
    background-color: #fff;
    border-radius: 5px;
}
tr, td, th{
    height: 50px;
    border: 0;
}
tbody tr:nth-of-type(odd){
    background-color: #e9e9e9;
}

/* Rodape */

footer{
    width: 100%;
    margin-top: 40px;
}
.bot{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.desc-footer{
    text-align: center;
    line-height: 45px;
    font-size: .8em;
}
.dev{
    color: #e64404;
    font-size: 1em;
    font-weight: bold;
}

/* CSS da página de preços */

.topo-precos{
    background-color: #2f86d6;
}
.destaque-texto-precos{
    color: #fff;
    font-weight: bold;
}
.menu-bar-precos a{
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.menu-bar-precos a:hover{
    background-color: #233032;
    border-radius: 5px;
}
.tabela-precos{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 80px 0;
}
.column-table, .first-column-table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 10px;
    text-align: center;
    width: 100%;
}
.column-table span,
.first-column-table span{
    font-size: 10px;
    font-weight: normal;
    color: #aaaaaa;
}
.column-table h3,
.first-column-table h3{
    font-size: 24px;
    color: #000;
}

.second-column-table,
.third-column-table,
.four-column-table,
.fift-column-table{
    width: 17%;
    padding: 10px 0;
}
.first-column-table{
    visibility: hidden;
}
.center{
    text-align: center;
}
.bolinha{
    width: 15px;
  height: 15px;
  background-color: #2f86d6;
  border-radius: 50%;
  display: inline-block;
}
td:hover .bolinha {
    background-color: white;
  }


  /* Footer preços */
#rodape-precos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    background-color: #2f86d6;
}
.topo-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    
}
.destaque-texto-footer{
    color: #fff;
    font-weight: bold;
}
.par-footer{
    text-align: center;
    color: #fff;
}
.dev-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 20%;
}